[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/tpope-vim-ragtag"]
	path = bundle/tpope-vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "bundle/tpope-vim-rails"]
	path = bundle/tpope-vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/tpope-vim-surround"]
	path = bundle/tpope-vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/tsaleh-vim-tcomment"]
	path = bundle/tsaleh-vim-tcomment
	url = http://github.com/tsaleh/vim-tcomment.git
[submodule "bundle/vim-makegreen"]
	path = bundle/vim-makegreen
	url = http://github.com/reinh/vim-makegreen.git
[submodule "bundle/wincent-command-t"]
	path = bundle/wincent-command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/vim-scripts/UltiSnips
[submodule "bundle/vim-gist"]
	path = bundle/vim-gist
	url = https://github.com/mattn/gist-vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/statianzo/vim-jade
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
