[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/msanders-snipmate.vim"]
	path = bundle/msanders-snipmate.vim
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/tpope-vim-ragtag"]
	path = bundle/tpope-vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "bundle/tpope-vim-rails"]
	path = bundle/tpope-vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/tpope-vim-surround"]
	path = bundle/tpope-vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/tsaleh-vim-tcomment"]
	path = bundle/tsaleh-vim-tcomment
	url = http://github.com/tsaleh/vim-tcomment.git
[submodule "bundle/vim-makegreen"]
	path = bundle/vim-makegreen
	url = http://github.com/reinh/vim-makegreen.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
